@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@mixin mixw($color, $opacity) {
  background: unquote(
    "linear-gradient(to top, rgba(255,255,255," + $opacity + "), rgba(255,255,255," + $opacity + "))," + $color
  );
}

@mixin mixb($color, $opacity) {
  background: unquote("linear-gradient(to top, rgba(0,0,0," + $opacity + "), rgba(0,0,0," + $opacity + "))," + $color);
}

// @mixin generate-font-color($type, $colordefault, $colortheme, $shade, $opacity) {
//   @if $type == "fixed" {
//     @if $shade == "light" or $shade == "lighter" or $shade == "lightest" {
//       color: mixw($color, $opacity);
//     } @else if $shade == "dark" or $shade == "darker" {
//       color: mixb($color, $opacity);
//     }
//   } @else {
//     @if $shade == "light" or $shade == "lighter" or $shade == "lightest" {
//       color: mixw($colortheme, $opacity);
//     } @else if $shade == "dark" or $shade == "darker" {
//       color: mixb($colortheme, $opacity);
//     }
//   }
// }
