$colors: (
  "primary": #ff8879,
  "secondary": #009ba6,
  "success": #00dcc7,
  "info": #5c80ff,
  "warning": #ffcf5c,
  "danger": #ff647c,
  "white": #ffffff,
  "gray": #818181,
  "black": #232323
);

$shades: (
  "lightest": 85%,
  "lighter": 65%,
  "light": 40%,
  "dark": 30%,
  "darker": 50%
);

$button: (
  "border-radius": 4px,
  "size": (
    "small": (
      "font-size": 14px,
      "padding": (
        "top": 8px,
        "right": 12px,
        "bottom": 8px,
        "left": 12px
      )
    ),
    "medium": (
      "font-size": 16px,
      "padding": (
        "top": 12px,
        "right": 20px,
        "bottom": 12px,
        "left": 20px
      )
    ),
    "large": (
      "font-size": 18px,
      "padding": (
        "top": 16px,
        "right": 24px,
        "bottom": 16px,
        "left": 24px
      )
    )
  ),
  // "type": (
  //   "default": (

  //   )
  //   "outline": (

  //   )
  //   "ghost": (

  //   )
  // )
);
