$colors: (
  "primary": #ff8879,
  "secondary": #009ba6,
  "success": #00dcc7,
  "info": #5c80ff,
  "warning": #ffcf5c,
  "danger": #ff647c,
  "white": #ffffff,
  "gray": #818181,
  "black": #232323
);

$shades: (
  "lightest": 60%,
  "lighter": 30%,
  "light": 10%,
  "dark": 20%,
  "darker": 30%
);

$button: (
  "border-radius": 4px,
  "size": (
    "small": (
      "font-size": 14px,
      "padding": (
        "top": 8px,
        "right": 12px,
        "bottom": 8px,
        "left": 12px
      )
    ),
    "medium": (
      "font-size": 16px,
      "padding": (
        "top": 12px,
        "right": 20px,
        "bottom": 12px,
        "left": 20px
      )
    ),
    "large": (
      "font-size": 18px,
      "padding": (
        "top": 16px,
        "right": 24px,
        "bottom": 16px,
        "left": 24px
      )
    )
  ),
  "type": (
    "default": (
      "normal": (
        "font-color": map-get($colors, "white"),
        "background-color": map-get($colors, "primary"),
        "border": none,
        "box-shadow": 0px 4px 8px rgba(0, 0, 0, 0.1)
      ),
      "hover": (
        "font-color": map-get($colors, "white"),
        "background-color": mix(white, map-get($colors, "primary"), map-get($shades, "light")),
        "border": none,
        "box-shadow": 0px 4px 10px rgba(0, 0, 0, 0.25)
      ),
      "pressed": (
        "font-color": map-get($colors, "white"),
        "background-color": mix(white, map-get($colors, "primary"), map-get($shades, "lighter")),
        "border": none,
        "box-shadow": 0px 4px 8px rgba(0, 0, 0, 0.25)
      ),
      "disabled": (
        "font-color": mix(white, map-get($colors, "gray"), map-get($shades, "light")),
        "background-color": mix(white, map-get($colors, "gray"), map-get($shades, "lightest")),
        "border": none,
        "box-shadow": 0px 4px 8px rgba(0, 0, 0, 0.1)
      )
    ),
    "outline": (),
    "ghost": ()
  )
);
